<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>vue demo</title>
</head>
<body>
<div id="app">
    {{title}}
    <h2>title 是 {{title}}</h2>
    <p id="html" v-html='link1'></p>
    <p id="text" v-text='link2'></p>

    <div class="top">
        <input type="text" v-model="content">
        <button @click='getVal'>getVal</button>
    </div>

    <div class="bottom">
        <p class="p"><span class="span">{{content}}</span></p>
        <p v-text="obj.name"></p>
        <p v-html='obj.name'></p>
        <input type="text" v-model="obj.name">
        <p class="getThis">
            <button @click='getThis'>getThis</button>
        </p>
    </div>
</div>
<script src="./src/Vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      title: '撸一个简单的vue框架',
      link1: '<a href="#">解析成a标签</a>',
      link2: '<a href="#">不解析成a标签</a>',
      content: '这是动态内容',
      obj: {
        name: 'foo'
      }
    },
    methods: {
      getVal() {
        console.log(this.content)
      },
      getThis() {
        console.log(this)
      }
    }
  })
</script>
</body>
</html>